{
  "openapi": "3.1.0",
  "info": {
    "title": "Diskograf API",
    "description": "A public, read-only REST API over the Diskograf catalogue of Malaysian music.\n\nPublic endpoints require no authentication and expose only published\ncatalogue rows. Requests are rate limited to 240 per 60 seconds per IP address.\n\nThe `/v1/admin` endpoints are the exception: authenticated with a short-lived\nbearer token minted by diskograf.com for Backstage staff, rate limited per\nprincipal, and — because they expose unpublished rows — never cached.\n\nEvery successful response is wrapped in an envelope. List endpoints return\n`{ \"data\": [...], \"meta\": { \"total\", \"limit\", \"offset\", \"next_cursor\" } }`; detail endpoints\nreturn `{ \"data\": {...} }`. Errors return `{ \"error\": { \"code\", \"message\" } }`.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.diskograf.com",
      "description": "Production"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Songs",
      "description": "The catalogue of published songs and their credits."
    },
    {
      "name": "Albums",
      "description": "Published albums and their track listings."
    },
    {
      "name": "Curated Lists",
      "description": "Published editorial song lists."
    },
    {
      "name": "Artists",
      "description": "Performers, writers and producers, and their discographies."
    },
    {
      "name": "Genres",
      "description": "The genre taxonomy and the songs in each genre."
    },
    {
      "name": "Labels",
      "description": "Record labels and their releases."
    },
    {
      "name": "Users",
      "description": "Public contributor profiles. Private account fields are never returned."
    },
    {
      "name": "Search",
      "description": "Cross-category keyword search."
    },
    {
      "name": "Discovery",
      "description": "Composite catalogue selections for exploring Malaysian music."
    },
    {
      "name": "Meta",
      "description": "Service index, statistics and health."
    },
    {
      "name": "Backstage",
      "description": "Authenticated, admin-only rows. Never cached. Requires a bearer token minted by diskograf.com."
    }
  ],
  "components": {
    "securitySchemes": {
      "backstageBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Short-lived access token minted by GET /api/backstage/access-token on diskograf.com after an admin login."
      }
    },
    "responses": {
      "NotFound": {
        "description": "The requested resource does not exist, or is not public.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found",
                        "bad_request",
                        "unauthorized",
                        "rate_limited",
                        "internal_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "BadRequest": {
        "description": "A query or path parameter failed validation. The message names the offending field.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found",
                        "bad_request",
                        "unauthorized",
                        "rate_limited",
                        "internal_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, invalid or expired access token.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found",
                        "bad_request",
                        "unauthorized",
                        "rate_limited",
                        "internal_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests in the rate-limit window. Retry after the Retry-After header.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "not_found",
                        "bad_request",
                        "unauthorized",
                        "rate_limited",
                        "internal_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "Meta"
        ],
        "summary": "Check service health",
        "description": "Returns 200 when the database is reachable, 503 when it is not.",
        "responses": {
          "200": {
            "description": "The service is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "error"
                      ]
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "error"
                      ]
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/roles": {
      "get": {
        "operationId": "getV1Roles",
        "tags": [
          "Meta"
        ],
        "summary": "List credit roles",
        "description": "Every credit role in the taxonomy — vocals, guitar, composer, lyricist and the rest. The list is small and is returned whole rather than paginated.",
        "responses": {
          "200": {
            "description": "All roles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "slug": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "title": {
                            "type": "string"
                          },
                          "order": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "tag": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "icon_class": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "slug",
                          "title",
                          "order",
                          "tag",
                          "icon_class"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Total rows matching the query, ignoring page size and position."
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Page size actually applied. Bounded by apiConfig.maxLimit (80)."
                        },
                        "offset": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Zero-based row offset of this page. Legacy field when a cursor is used."
                        },
                        "next_cursor": {
                          "description": "Opaque cursor for the next page. Null means there is no next page.",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "total",
                        "limit",
                        "offset"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "operationId": "getV1Search",
        "tags": [
          "Search"
        ],
        "summary": "Search the catalogue",
        "description": "Cross-category keyword search over songs, artists and labels — the same search that backs the site header, including artist:/label:/year:/decade: filters, yt:\"...\" YouTube metadata search, and \"quoted phrase\" literal matching. Callable only from diskograf.com (Origin/Referer checked) — this is the one route meant for direct browser calls from the site itself, not third-party use.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The keyword. Required, and capped in length. Supports artist:/label:/year:/decade: filters, yt:\"...\" for a literal search of cached YouTube title/channel/description, and \"quoted phrase\" literals."
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "songs",
                "artists"
              ]
            },
            "description": "Limit results to one category. `songs`/`artists` return an empty array for the other two. Labels are only ever returned for scope=all (or when omitted), matching the site search."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Max rows per category in scope. Omit for the default per-category caps (songs: 50, labels: 20, artists: 30)."
          }
        ],
        "responses": {
          "200": {
            "description": "Matches grouped by category.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "songs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string",
                                "description": "URL-safe form of the title. Not unique — pair it with the id."
                              },
                              "released_at": {
                                "type": "string"
                              },
                              "artwork_url": {
                                "type": "string",
                                "description": "Absolute CDN URL. Resolved server-side; never a bare storage key."
                              },
                              "artwork_average": {
                                "default": null,
                                "description": "Saved average artwork colour as hex, or null until computed.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "artwork_source": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "Custom",
                                      "Apple Music",
                                      "Spotify",
                                      "YouTube"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "youtube_video_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "youtube_video_url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "youtube_views": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "youtube_views_per_day": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "artists": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name"
                                  ]
                                },
                                "description": "Primary performing credits only, in credit order."
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "slug",
                              "released_at",
                              "artwork_url",
                              "artwork_source",
                              "youtube_video_id",
                              "youtube_video_url",
                              "youtube_views",
                              "youtube_views_per_day",
                              "artists"
                            ]
                          }
                        },
                        "artists": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "prefix_title": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "is_group": {
                                "type": [
                                  "boolean",
                                  "null"
                                ]
                              },
                              "total_songs": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "total_credits": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "disambiguator": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "avatar_url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "slug",
                              "prefix_title",
                              "is_group",
                              "total_songs",
                              "total_credits",
                              "disambiguator",
                              "avatar_url"
                            ]
                          }
                        },
                        "labels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "slug"
                            ]
                          }
                        }
                      },
                      "required": [
                        "songs",
                        "artists",
                        "labels"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Origin/Referer is not diskograf.com."
          }
        }
      }
    },
    "/v1/stats": {
      "get": {
        "operationId": "getV1Stats",
        "tags": [
          "Meta"
        ],
        "summary": "Get catalogue statistics",
        "description": "Totals across the archive: songs, artists, contributors, credits, genres, labels, the earliest release year on record, and the count of songs released since the start of the previous calendar month.",
        "responses": {
          "200": {
            "description": "Catalogue totals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "songs": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "artists": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "contributors": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "credits": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "earliest_year": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "genres": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "labels": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "recent_releases": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "released_from": {
                              "type": "string",
                              "description": "Start of the window, YYYY-MM-DD."
                            }
                          },
                          "required": [
                            "count",
                            "released_from"
                          ],
                          "description": "Published songs released since the start of the previous calendar month."
                        }
                      },
                      "required": [
                        "songs",
                        "artists",
                        "contributors",
                        "credits",
                        "earliest_year",
                        "genres",
                        "labels",
                        "recent_releases"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1": {
      "get": {
        "operationId": "getV1",
        "tags": [
          "Meta"
        ],
        "summary": "List available routes",
        "description": "A machine-readable index of every route in this API version.",
        "responses": {
          "200": {
            "description": "The route index.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        },
                        "routes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "version",
                        "routes"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/songs": {
      "get": {
        "operationId": "getV1Songs",
        "tags": [
          "Songs"
        ],
        "summary": "List songs",
        "description": "Published songs, newest first by default. Supports the same filters as the site's browse page.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keyword search across title and credited artists. Supports yt:\"...\" for a case-insensitive literal substring match in the cached YouTube title, channel name, and description."
          },
          {
            "name": "genre",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Genre slug. Repeat the parameter or comma-separate for several."
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Role slug. Repeat the parameter or comma-separate for several."
          },
          {
            "name": "artist_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Restrict to songs credited to this artist."
          },
          {
            "name": "label_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Restrict to songs released on this label."
          },
          {
            "name": "released_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive release-date lower bound (yyyy-MM-dd)."
          },
          {
            "name": "released_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive release-date upper bound (yyyy-MM-dd)."
          },
          {
            "name": "has_artwork",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict to songs with square Spotify/Apple artwork."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort column."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 80,
              "default": 20
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Zero-based row offset."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of songs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "title": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL-safe form of the title. Not unique — pair it with the id."
                          },
                          "released_at": {
                            "type": "string"
                          },
                          "artwork_url": {
                            "type": "string",
                            "description": "Absolute CDN URL. Resolved server-side; never a bare storage key."
                          },
                          "artwork_average": {
                            "default": null,
                            "description": "Saved average artwork colour as hex, or null until computed.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "artwork_source": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "Custom",
                                  "Apple Music",
                                  "Spotify",
                                  "YouTube"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "youtube_video_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "youtube_video_url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "youtube_views": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "youtube_views_per_day": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "artists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "name"
                              ]
                            },
                            "description": "Primary performing credits only, in credit order."
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "slug",
                          "released_at",
                          "artwork_url",
                          "artwork_source",
                          "youtube_video_id",
                          "youtube_video_url",
                          "youtube_views",
                          "youtube_views_per_day",
                          "artists"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Total rows matching the query, ignoring page size and position."
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Page size actually applied. Bounded by apiConfig.maxLimit (80)."
                        },
                        "offset": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Zero-based row offset of this page. Legacy field when a cursor is used."
                        },
                        "next_cursor": {
                          "description": "Opaque cursor for the next page. Null means there is no next page.",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "total",
                        "limit",
                        "offset"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/songs/top": {
      "get": {
        "operationId": "getV1SongsTop",
        "tags": [
          "Songs"
        ],
        "summary": "List top songs by daily views",
        "description": "Recent published songs ranked by a blended YouTube daily-view-rate and Spotify popularity score. Backs the homepage Top 10 rail. Only songs with artwork, a YouTube id and a known view rate are eligible.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 14
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ranked songs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "title": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL-safe form of the title. Not unique — pair it with the id."
                          },
                          "released_at": {
                            "type": "string"
                          },
                          "artwork_url": {
                            "type": "string",
                            "description": "Absolute CDN URL. Resolved server-side; never a bare storage key."
                          },
                          "artwork_average": {
                            "default": null,
                            "description": "Saved average artwork colour as hex, or null until computed.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "artwork_source": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "Custom",
                                  "Apple Music",
                                  "Spotify",
                                  "YouTube"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "youtube_video_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "youtube_video_url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "youtube_views": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "youtube_views_per_day": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "artists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "name"
                              ]
                            },
                            "description": "Primary performing credits only, in credit order."
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "slug",
                          "released_at",
                          "artwork_url",
                          "artwork_source",
                          "youtube_video_id",
                          "youtube_video_url",
                          "youtube_views",
                          "youtube_views_per_day",
                          "artists"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Total rows matching the query, ignoring page size and position."
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Page size actually applied. Bounded by apiConfig.maxLimit (80)."
                        },
                        "offset": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Zero-based row offset of this page. Legacy field when a cursor is used."
                        },
                        "next_cursor": {
                          "description": "Opaque cursor for the next page. Null means there is no next page.",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "total",
                        "limit",
                        "offset"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/songs/top-chart": {
      "get": {
        "operationId": "getV1SongsTopChart",
        "tags": [
          "Songs"
        ],
        "summary": "List top songs for a chart period",
        "description": "Published songs ranked by chart score for the selected current, yearly, or all-time period. Yearly charts accept an optional year. An optional genre limits the chart.",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "since-last-month",
                "this-year",
                "all-time"
              ]
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1950,
              "maximum": 2100
            },
            "description": "Calendar year for the yearly chart."
          },
          {
            "name": "genre",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ranked songs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "title": {
                            "type": "string"
                          },
                          "released_at": {
                            "type": "string"
                          },
                          "artwork_url": {
                            "type": "string"
                          },
                          "artwork_average": {
                            "default": null,
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "youtube_video_id": {
                            "default": null,
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "youtube_views_per_day": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "artists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "released_at",
                          "artwork_url",
                          "youtube_views_per_day",
                          "artists"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Total rows matching the query, ignoring page size and position."
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Page size actually applied. Bounded by apiConfig.maxLimit (80)."
                        },
                        "offset": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Zero-based row offset of this page. Legacy field when a cursor is used."
                        },
                        "next_cursor": {
                          "description": "Opaque cursor for the next page. Null means there is no next page.",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "total",
                        "limit",
                        "offset"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/songs/stories": {
      "get": {
        "operationId": "getV1SongsStories",
        "tags": [
          "Songs"
        ],
        "summary": "List song stories",
        "description": "Published songs grouped into ten recent and ten random selections. Each group prefers songs with non-empty lyrics and includes a four-line lyric preview.",
        "parameters": [
          {
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated song IDs already shown to this visitor."
          },
          {
            "name": "random_count",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 50,
              "default": 10
            },
            "description": "How many random songs to return. Larger values let a client rotate a cached pool."
          }
        ],
        "responses": {
          "200": {
            "description": "The song stories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "title": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL-safe form of the title. Not unique — pair it with the id."
                          },
                          "released_at": {
                            "type": "string"
                          },
                          "artwork_url": {
                            "type": "string",
                            "description": "Absolute CDN URL. Resolved server-side; never a bare storage key."
                          },
                          "artwork_average": {
                            "default": null,
                            "description": "Saved average artwork colour as hex, or null until computed.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "artwork_source": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "Custom",
                                  "Apple Music",
                                  "Spotify",
                                  "YouTube"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "youtube_video_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "youtube_video_url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "youtube_views": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "youtube_views_per_day": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "artists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "name": {
                                  "type": "string"
                                },
                                "avatar_url": {
                                  "description": "Resolved public CDN URL, or null when no avatar exists.",
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "avatar_url"
                              ]
                            },
                            "description": "Primary performing credits only, in credit order."
                          },
                          "artwork_thumb_url": {
                            "type": "string",
                            "description": "Absolute CDN URL for the small artwork tier. Resolved server-side; never a bare storage key."
                          },
                          "lyrics_preview": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "lyrics_preview_has_more": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "recent",
                              "random"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "slug",
                          "released_at",
                          "artwork_url",
                          "artwork_source",
                          "youtube_video_id",
                          "youtube_video_url",
                          "youtube_views",
                          "youtube_views_per_day",
                          "artists",
                          "artwork_thumb_url",
                          "lyrics_preview",
                          "lyrics_preview_has_more",
                          "source"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Total rows matching the query, ignoring page size and position."
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Page size actually applied. Bounded by apiConfig.maxLimit (80)."
                        },
                        "offset": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Zero-based row offset of this page. Legacy field when a cursor is used."
                        },
                        "next_cursor": {
                          "description": "Opaque cursor for the next page. Null means there is no next page.",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "total",
                        "limit",
                        "offset"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/songs/{songId}": {
      "get": {
        "operationId": "getV1SongsBySongId",
        "tags": [
          "Songs"
        ],
        "summary": "Get a song",
        "description": "Full detail for one published song, including every credit, genre and label.",
        "parameters": [
          {
            "name": "songId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The song.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "title": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "released_at": {
                          "type": "string"
                        },
                        "published_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "views": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "claps": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "artwork_url": {
                          "type": "string"
                        },
                        "artwork_colors": {
                          "default": null,
                          "description": "Saved colours sampled from the artwork, as hex.",
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "dominant": {
                                  "type": "string"
                                },
                                "average": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "dominant",
                                "average"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "artwork_source": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "Custom",
                                "Apple Music",
                                "Spotify",
                                "YouTube"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "notes": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "lyrics": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "love_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "media": {
                          "type": "object",
                          "properties": {
                            "youtube_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "spotify_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "apple_music_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "spotify_url": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "apple_music_url": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "date_type": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "FULL",
                                    "MONTH",
                                    "YEAR"
                                  ]
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "duration_ms": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "youtube_id",
                            "spotify_id",
                            "apple_music_id",
                            "spotify_url",
                            "apple_music_url",
                            "date_type",
                            "duration_ms"
                          ]
                        },
                        "youtube": {
                          "type": "object",
                          "properties": {
                            "duration_seconds": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "views": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "views_per_day": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "last_fetched": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "duration_seconds",
                            "views",
                            "views_per_day",
                            "last_fetched"
                          ]
                        },
                        "credits": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "order": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "artist": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "is_group": {
                                    "type": [
                                      "boolean",
                                      "null"
                                    ]
                                  },
                                  "avatar_url": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "is_group",
                                  "avatar_url"
                                ]
                              },
                              "role": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991
                                      },
                                      "title": {
                                        "type": "string"
                                      },
                                      "slug": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      },
                                      "tag": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      },
                                      "order": {
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "title",
                                      "slug",
                                      "tag",
                                      "order"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "order",
                              "artist",
                              "role"
                            ]
                          }
                        },
                        "genres": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "slug": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "slug",
                              "title"
                            ]
                          }
                        },
                        "labels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "title",
                        "slug",
                        "released_at",
                        "published_at",
                        "views",
                        "claps",
                        "artwork_url",
                        "artwork_source",
                        "notes",
                        "lyrics",
                        "love_count",
                        "media",
                        "youtube",
                        "credits",
                        "genres",
                        "labels"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/songs/{songId}/albums": {
      "get": {
        "operationId": "getV1SongsBySongIdAlbums",
        "tags": [
          "Albums"
        ],
        "summary": "List a song's albums",
        "description": "Published albums containing this published, non-deleted song, ordered by album title.",
        "parameters": [
          {
            "name": "songId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The song's public albums.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "title": {
                            "type": "string"
                          },
                          "artwork_url": {
                            "default": null,
                            "description": "Absolute CDN URL for the album artwork.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "artwork_colors": {
                            "default": null,
                            "description": "Saved colours sampled from the artwork, as hex.",
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "dominant": {
                                    "type": "string"
                                  },
                                  "average": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "dominant",
                                  "average"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "released_at": {
                            "description": "Manual album release date, when available.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "position": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "artwork_url",
                          "released_at",
                          "position"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Total rows matching the query, ignoring page size and position."
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Page size actually applied. Bounded by apiConfig.maxLimit (80)."
                        },
                        "offset": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Zero-based row offset of this page. Legacy field when a cursor is used."
                        },
                        "next_cursor": {
                          "description": "Opaque cursor for the next page. Null means there is no next page.",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "total",
                        "limit",
                        "offset"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/songs/{songId}/curated-lists": {
      "get": {
        "operationId": "getV1SongsBySongIdCuratedLists",
        "tags": [
          "Curated Lists"
        ],
        "summary": "List a song's curated lists",
        "description": "Published public curated lists containing this published, non-deleted song, in curated order.",
        "parameters": [
          {
            "name": "songId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The curated lists this song appears in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "title": {
                            "type": "string"
                          },
                          "artwork_url": {
                            "description": "Absolute CDN URL for the list artwork.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "artwork_colors": {
                            "default": null,
                            "description": "Saved colours sampled from the artwork, as hex.",
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "dominant": {
                                    "type": "string"
                                  },
                                  "average": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "dominant",
                                  "average"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "artwork_url"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Total rows matching the query, ignoring page size and position."
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Page size actually applied. Bounded by apiConfig.maxLimit (80)."
                        },
                        "offset": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Zero-based row offset of this page. Legacy field when a cursor is used."
                        },
                        "next_cursor": {
                          "description": "Opaque cursor for the next page. Null means there is no next page.",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "total",
                        "limit",
                        "offset"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/songs/{songId}/provider-stats": {
      "get": {
        "operationId": "getV1SongsBySongIdProviderStats",
        "tags": [
          "Songs"
        ],
        "summary": "Get stored provider stats",
        "description": "The YouTube, Spotify, and Apple Music snapshots stored for a published song. This route never calls a provider. Compare ids and `last_fetched` to decide whether a snapshot is stale.",
        "parameters": [
          {
            "name": "songId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The stored provider stats.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "youtube": {
                          "type": "object",
                          "properties": {
                            "video_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "views": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "views_per_day": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "duration_seconds": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "last_fetched": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "video_id",
                            "views",
                            "views_per_day",
                            "duration_seconds",
                            "last_fetched"
                          ]
                        },
                        "spotify": {
                          "type": "object",
                          "properties": {
                            "track_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "popularity": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "last_fetched": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "track_id",
                            "popularity",
                            "last_fetched"
                          ]
                        },
                        "apple_music": {
                          "type": "object",
                          "properties": {
                            "track_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "last_fetched": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "track_id",
                            "last_fetched"
                          ]
                        }
                      },
                      "required": [
                        "youtube",
                        "spotify",
                        "apple_music"
                      ],
                      "description": "Stored provider snapshots. Clients compare ids and last_fetched to decide whether a refresh is due."
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/songs/{songId}/views": {
      "get": {
        "operationId": "getV1SongsBySongIdViews",
        "tags": [
          "Songs"
        ],
        "summary": "Get song page views",
        "description": "Site page views for one song over the last 12 months, read from Diskograf analytics. Every URL form of the song counts once. `views` is null when analytics is unavailable.",
        "parameters": [
          {
            "name": "songId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The view count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "views": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
[...]
